<%= form_with(model: tweet, class: "custom-form") do |form| %>
  <% if tweet.errors.any? %>
    <div class="error-message">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="form-field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="form-actions">
  <%= form.submit "Guardar", class: "btn btn-primary custom-button" %>
</div>
<% end %>

