<div id="<%= dom_id tweet %>">
<div id="<%= dom_id tweet %>">
  <div class="card text-center custom-card">
    <div class="card-header">
      <i class="fab fa-twitter tweet-icon"></i> <%= tweet.id %> <%= tweet.username %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= Faker::Superhero.power %></h5>
      <p class="card-text">
        <%= tweet.description %>
      </p>
      <div class="button-group">
        <%= link_to "Editar", edit_tweet_path(tweet), class: "btn btn-primary" %>
        <%= button_to "Eliminar", tweet, class: "btn btn-danger", method: :delete %>
      </div>
    </div>
    <div class="card-footer text-body-secondary">
      <%= Time.zone.now.strftime("%Y-%m-%d %H:%M:%S") %>
    </div>
  </div>
</div>

