<p style="color: green"><%= notice %></p>

<%= render @tweet %>

<div class="button-row">
  <%= button_to "Editar los Tweets", edit_tweet_path(@tweet), class: "btn btn-primary" %>
  <%= link_to "Volver a los Tweets", tweets_path, class: "btn btn-secondary" %>
  <%= button_to "Eliminar un Tweet", @tweet, method: :delete, class: "btn btn-danger" %>
</div>
